aspose-words==25.7.0
docx2python==3.5.0
fastapi==0.115.13
fastembed==0.7.1
llama-index-core==0.12.24.post1
llama-index-llms-ollama==0.5.3
more-itertools==10.3.0
nicegui==2.20.0
pillow==11.1.0
pymupdf==1.26.1
pymorphy3==2.0.4
pytesseract==0.3.13
ragas==0.2.15
razdel==0.5.0
redis==6.3.0
stop-words==2018.7.23
tiktoken==0.9.0
qdrant-client==1.14.3
uvicorn==0.33.0
